.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bot-card:hover {
  background-color: rgba(0, 0, 128, .25);
  cursor: pointer;
}

.delete-icon {
  filter: invert(13%) sepia(84%) saturate(6643%) hue-rotate(359deg) brightness(109%) contrast(114%);
  cursor: pointer;
}

.edit-icon {
  filter: invert(8%) sepia(89%) saturate(6853%) hue-rotate(246deg) brightness(61%) contrast(125%);
  cursor: pointer;
}

